.relative {
	position: relative;
	z-index: 0;
	height: 100%;
}

.signin-row {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	width: 400px;
	margin: -145px 0 0 -200px;
}

.signin-row form {
	margin: 0;
}

@media (max-width: 768px) {
	.signin-row {
		width: 280px;
		margin-left: -140px;
	}
}

.btn-file {
	position: relative;
	z-index: 0;
	vertical-align: middle;
	overflow: hidden;
}

.btn-file > span {
	position: relative;
	z-index: 0;
}

.btn-file > input[type=file] {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	font-size: 150px;
	opacity: 0;
}

.td-id {
	width: 60px;
	text-align: center;
}

.td-icon {
	width: 85px;
	text-align: center;
}