.signin-row {
	margin-top: 100px;
}

.signin-body {
	margin-top: 200px;
	position: relative;
}

.content-border {
	background: #fff;
	padding: 5px;
	border-radius: 7px;
}

.content-inner {
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	padding: 3px;
}

.content-border:hover {
	background: #ccc;
}

.content-img img {
	max-width: 100%;
}

.content-brand {
	text-transform: uppercase;
}

.content-name {
	font-weight: 600;
	font-size: 20px;
}

.error-msg {
	margin-top: 20px;
}