.signin-row {
	margin-top: 100px;
}

.signin-body {
	margin-top: 200px;
	position: relative;
}

.header {
	background: #444;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 0;
}

.home-link,
.home-link:hover,
.home-link:focus,
.home-link:active {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.footer {
	background: #444;
	color: #fff;
}

.footer a {
	color: #fff;
	text-decoration: none;
}

.table > tbody > tr > td.td-header {
	vertical-align: middle;
}

.td-id {
	text-align: left;
	width: 50px;
}

.td-name {
	width: 250px;
}

.td-id img,
.td-photo img {
	max-width: 100%;
}

.td-icon,
.td-photo {
	text-align: center;
	width: 75px;
}

.td-type {
	text-align: left;
	width: 160px;
}

.btn-file {
	position: relative;
	z-index: 0;
	vertical-align: middle;
	overflow: hidden;
}

.btn-file > span {
	position: relative;
	z-index: 0;
}

.btn-file > input[type=file] {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	font-size: 150px;
	opacity: 0;
}

.img-preview {
	max-width: 100px;
	max-height: 100px;
	margin: 0 15px;
	vertical-align: middle;
}

.content-border {
	background: #fff;
	padding: 5px;
	border-radius: 7px;
}

.content-inner {
	background: #fff;
	border-radius: 5px;
	padding: 0px;
}

.content-border:hover {
	background: #ccc;
	cursor: pointer;
}

.content-border.limit:not(.selected) {
	background: red;
}

.content-border:hover .content-price {
	color: #0FB35A;
}

.content-border:hover .content-brand,
.content-border:hover .content-name a {
	color: #3298FF;
}

.content-img {
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	background: #fff;
	padding: 8px;
}

.content-img img {
	max-width: 100%;
}

.content-img-check {
	position: absolute;
	z-index: 1;
	top: 1px;
	right: 3px;
}

.coverletter-modal input[type=checkbox] {
	width: auto;
	height: auto;
}

.content-brand {
	text-transform: uppercase;
	padding: 5px;
}

.content-price {
	font-weight: 600;
	color: #ccc;
	padding: 5px;
}

.content-name {
	font-weight: 600;
	font-size: 20px;
}

.content-name a {
	text-decoration: none;
	color: inherit;
}

.selected.content-border {
	background: #3298FF;
}

.selected .content-inner {
	color: #fff;
	background: #3298FF;
}

.content-inner i {
	font-size: 1.5em;
	opacity: 0;
}

.selected .content-inner i {
	color: #3298FF;
	opacity: 1;
}

.selected .content-img {
	background: #fff;
	padding: 8px;
}

.selected.content-border:hover .content-brand,
.selected.content-border:hover .content-name a,
.selected .content-price,
.selected.content-border:hover .content-price {
	color: #fff;
}

.products-preview {
	border: 8px solid #ccc;
	border-radius: 10px;
	margin-top: 50px;
}

.products-body {
	padding-top: 10px;
}

.products-spec,
.products-full-spec {
	padding: 5px;
}

.products-name,
.products-img {
	display: inline-block;
	vertical-align: middle;
}

.products-name {
	line-height: 0.9;
}

.products-brand {
	font-size: 2.5em;
}

.products-model {
	font-size: 3.5em;
	font-weight: 600;
}

.products-model {
	text-transform: uppercase;
}

.features-name {
	white-space: nowrap;
}

.products-spec-head {
	text-transform: uppercase;
}

.products-spec-head a {
	text-transform: none;
	text-decoration: none;
}

.features-img,
.features-desc {
	display: inline-block;
	vertical-align: top;
}

.features-head {
	width: 35%;
}

.features-name {
	font-weight: 600;
}

.report {
	margin-top: 20px;
    margin-bottom: 10px;
}

.related-head {
	background: #9ECC4F;
	color: #fff;
	font-weight: 600;
	padding: 10px;
}

.related-img {
	text-align: center;
}

.related-name,
.related-price,
.related-btn {
	margin-top: 5px;
}

.related-inner {
	border-bottom: 1px solid #ccc;
	padding: 20px 5px;
}

.spec-group {
	font-weight: 600;
}

.compare-table {
	width: 100%;
}

.compare-table label {
	margin-bottom: 5px;
}

.compare-table th {
	width: 21%;
}

.compare-table th:first-child {
	width: 16%;
}

.compare-table td h4 {
	text-align: right;
}

.compare-head {
	position: relative;
}

.compare-img,
.compare-price {
	width: 48%;
	display: inline-block;
}

.compare-img img {
	max-width: 100%;
}

.compare-img {
	position: relative;
}

.compare-close {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
}

.compare-close {
	cursor: pointer;
}

.compare-head {
	position: relative;
}

.wrap-add-btn {
	position: absolute;
	z-index: 1;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 42%;
	background: #fff;
	box-shadow: 0px -3px 1px -1px rgba(0,0,0,0.2);
	display: none;
}

.inactive .wrap-add-btn {
	display: block;
}

.inactive .compare-close {
	display: none;
}

.inactive .compare-img,
.inactive .compare-price {
	opacity: 0.5;
}

.add-btn {
	position: absolute;
	right: 50%;
	margin-right: -82px;
	bottom: 0;
}

.btn-compare {
	margin-top: 50px;
	margin-bottom: 50px;
}

.filters-box {
	margin-bottom: 20px;
}

.filters-box h4 {
	margin: 0 0 3px 0;
}

.content {
	padding: 30px 0;
}

.title-line {
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.title-line h2 {
	margin: 0;
}

.cats-hr {
	height: 1px;
	background: #ddd;
	margin: 30px 0;
}

.error-msg {
	margin-top: 20px;
}